<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <form method='post'>
        {% csrf_token %}
        <div class="form-group w-25 p-3 mx-auto ">
            <label for="id" class="form-label"></label>Plate</label>
            <input type="text" id="plate" name='plate' class="form-control" placeholder="" required>
            <p class="text-danger">{{ message }}</p>
            <button type="submit" class="btn btn-primary my-1">Chack-Out</button>
        </div>
    </form>
</body>

</html>