<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  <form action="" method="post">
    {% csrf_token %}

    <div class="form-group w-25 p-3 mx-auto ">
      <label for="plate" class="form-label"></label>Plate</label>
      <input type="text" id="Placa" name='plate' class="form-control" placeholder="Exenplo: AAA-1J23" required>
      <!-- Submição indireata da mensagem -->
      <p class="text-danger">{{ message }}</p>
      <button type="submit" class="btn btn-primary my-1">Enviar</button>
    </div>
  </form>
</body>