<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Id Reserva</th>
          <th scope="col">CheckIn</th>
          <th scope="col">Check-Out</th>
        </tr>
      </thead>
      <tbody>
      {% for historico in history %}
        <tr>
          <th scope="row">{{ historico.id }}</th>
          <th>{{ historico.plate }}</th>
          <th>{{ historico.date }}</th>
          <th>{{ historico.paid }}</th>
          <th>{{ historico.left }}</th>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</body>
